.section_2 {
    background-color: white;
    padding: 0px 240px;
}

.info {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 60px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.btns {
    border: 4px solid #3882f6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
}

.subtext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.subtexts {
    width: 150px;
    text-align: center;
}